.mainNav{
    background-color: #D6860D;
    min-width: 100%;
    Height:86px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.mainNav #menu{
    position: absolute;
    right: 10px;
}
.mainNav #menuRegister{
    position: absolute;
    right: 10px;
}